@model IEnumerable<TexAuto.Models.Domain.Entries.Shift>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EffectiveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalShifts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime4)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalShifts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime4)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
