@model TexAuto.Models.Domain.Entries.Production

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Production</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shift.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DelHank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DelHank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionEfficiency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionEfficiency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mixing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mixing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalProduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalProduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RunTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RunTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdleTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdleTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfDoffs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfDoffs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConeWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConeWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningKgs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningKgs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Closing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Closing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SliverBreaks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SliverBreaks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedProduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedProduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionDrop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionDrop)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
