@model IEnumerable<TexAuto.Models.Domain.Entries.Production>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DelHank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionEfficiency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mixing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalProduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RunTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdleTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfDoffs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConeWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningKgs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Closing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SliverBreaks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedProduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionDrop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DelHank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionEfficiency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mixing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalProduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdleTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfDoffs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConeWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningKgs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Closing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SliverBreaks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedProduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionDrop)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
